<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>14.0f1</Version>
<Array>
<Name></Name>
<Dimsize>4</Dimsize>
<String>
<Name>Test Stand</Name>
<Val>Default</Val>
</String>
<String>
<Name>Test Stand</Name>
<Val>33 ccm</Val>
</String>
<String>
<Name>Test Stand</Name>
<Val>mCTS R134a</Val>
</String>
<String>
<Name>Test Stand</Name>
<Val>0</Val>
</String>
</Array>
</LVData>